.welcome-big {
    background: linear-gradient(
        to bottom,
        #4c4c4c 0%,
        #595959 12%,
        #666666 25%,
        #474747 39%,
        #2c2c2c 50%,
        #000000 51%,
        #111111 60%,
        #2b2b2b 76%,
        #1c1c1c 91%,
        #131313 100%
    );
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: column;
    color: wheat;
    overflow: hidden;
}
.welcome-small {
  background: linear-gradient(
      to bottom,
      #4c4c4c 0%,
      #595959 12%,
      #666666 25%,
      #474747 39%,
      #2c2c2c 50%,
      #000000 51%,
      #111111 60%,
      #2b2b2b 76%,
      #1c1c1c 91%,
      #131313 100%
  );
  height: 30vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  flex-direction: column;
  color: wheat;
  overflow: hidden;
  animation-name: shrink;
animation-duration: 1s;
}
.screen{
    height: 70vh;
    background-color: black;
    color: wheat;
    font-size: 20px;
    animation-name: dropdown;
    animation-duration: 1s;
    align-content: center;
}
.info-screen{
    width: 70%;
    height: 90%;
    background-color: rgba(114, 25, 25, 0.5);
    margin: 0 auto;
}
.logo-type-wide{
  position:relative;
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  max-width: 150%;
  min-height: 1%;
  min-width: 1%;
  transform: translate(-50%, -50%);
}
.grid-element > img{
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  max-width: 70%;
  max-height: 50%;
  min-height: 1%;
  min-width: 1%;
  transform: translate(-40%, -40%);
  
}
.logo-group {
    background-image: url(http://malek.ovh/rwc/public/images/wyvrenLogo.png);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.group-info {
    width: 95%;
    margin-left: auto;
}
.grid-element {
  position: relative;
    height: 100%;
    width: 100%;
   // border: 1px solid yellow;
}
// .round-div {
//     position: relative;
//     top: 35%;
//     left: 0;
//     transform: $rotate;
//     height: 50px;
//     width: 50px;
//     background-color: wheat;
//     color: #ff0000;
//     font-size: 20px;
//     font-weight: 1000;
//     margin: auto auto;
//     text-align: center;
//     padding-top: 13px;
// }

.animated1 {
    animation-name: animation1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 25%;
        left: -15%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 55%;
        left: 45%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}
.animated2 {
    animation-name: animation2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation2 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 15%;
        left: 15%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 55%;
        left: -15%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}
.animated3 {
  background-color: transparent;
    animation-name: animation3;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes animation3 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 25%;
        left: 25%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 45%;
        left: 35%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}
.animated4 {
    animation-name: animation4;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes animation4 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 5%;
        left: 5%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 55%;
        left: 15%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}
.animated5 {
    animation-name: animation5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation5 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 60%;
        left: 55%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 55%;
        left: -5%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}
.animated6 {
    animation-name: animation6;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animation6 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 5%;
        left: 55%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 25%;
        left: 5%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}
.animated7 {
    animation-name: animation7;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation7 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 25%;
        left: 15%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 55%;
        left: -35%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}

.animated8 {
    animation-name: animation8;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation8 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 40%;
        left: 20%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 10%;
        left: -15%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}
.animated9 {
    animation-name: animation9;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation9 {
    0% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
    20% {
        top: 15%;
        left: -15%;
        transform: rotate(random(100) + deg);
    }
    70% {
        top: 55%;
        left: 15%;
        transform: rotate(random(100) + deg);
    }
    100% {
        top: 35%;
        left: 0;
        transform: $rotate;
    }
}

@keyframes dropdown {
    0% {
        height: 0vh;
    }
   
   
    100% {
        height: 70vh;
    }
}
.group {
    height: 0vh;
    animation-name: goup;
    animation-duration: 1s;
}
@keyframes goup {
    0% {
        height: 70vh;
    }
   
   
    100% {
        height: 0vh;
    }
}
@keyframes shrink {
        0% {
            height: 100vh;
        }
       
       
        100% {
            height: 30vh;
        }
}

.expand {
    animation-name: expand;
    animation-duration: 1s;
}
@keyframes expand {
    0% {
        height: 30vh;
    }
   
   
    100% {
        height: 100vh;
    }
}