.backgroundOne {
    background-size: contain ;
    border-radius: 20% 20% 20% 20%;
    z-index: -1;
    position: relative;
    margin-bottom: 10%;
   
   
}


@keyframes transition {
       
    0% { opacity:1;}
   
    60% { opacity:0.5;}
   
    100%   { opacity:0;}
}

@media only screen and (max-width: 1120px) {
   
}
@media only screen and (max-width: 900px) {
 
}
@media only screen and (max-width: 380px) {

}