.backgroundOne {
    z-index: 2;
    height: 100%;
    width: 360px;
    margin: 0 0 0 0;
    
  
   
   
}
.left {
    position: absolute;
  
}
.right {
    position: relative;
    margin-left: auto;
}

@keyframes transition {
       
    0% { opacity:1;}
   
    60% { opacity:0.5;}
   
    100%   { opacity:0;}
}

@media only screen and (max-width: 1120px) {
   
}
@media only screen and (max-width: 900px) {
 
}
@media only screen and (max-width: 380px) {

}