body {
    
    margin: 0;
    padding: 0;
 
}
.App {
    /* background-image: url('../../Img/img1.jpg'); */
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
}
.Title1 {
    
    margin: auto;
    padding: 0;
    margin-bottom: 80px;
}

.Title2 {
    
    margin: auto;
    padding: 0;
    margin-bottom: 10px;
}
.Title3 {
    
    font-size: 2em;
    padding: 0;
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 10%;
    margin-bottom: 100px;
}
.MainContainer {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
  
}
.Cell {
    
  
    
}
.Text {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    margin-bottom: 80px;
    border: 1px solid white; 
    border-radius: 10% 15% 10% 15%;
    padding: 25px 25px 25px 25px;
    background-color: black;
    text-align: center;
}
.backgroundOne {
    height: 500px;
    width:700px;
    position:absolute;
    background-image:url('http://malek.ovh/rwc/resources/Img/venue.jpg');
}
@media only screen and (max-width: 1120px) {
    .MainContainer {
    
        display: inline-block;
    }
}
@media only screen and (max-width: 650px) {
   
  
}