body {
    margin: 0;
    padding: 0;
 
}
.App {
    /* background-image: url('../../Img/img1.jpg'); */
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
}
.Title1 {
    
    margin: auto;
    padding: 0;
    margin-bottom: 80px;
}

.Title2 {
    
    margin: auto;
    padding: 0;
    margin-bottom: 10px;
}
.Title3 {
    
  
    padding: 0;
    margin-bottom: 100px;
}
.MainContainer {
    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  
}
.Cell {
    
  
    
}

.Text {
   
    width: 340px;
    margin-bottom: 80px;
    border: 1px solid white; 
    padding: 15px 15px 15px 15px;
    background-color: black;
}
