body {
    margin: 0;
    padding: 0;
 
}
.App {
<<<<<<< HEAD
    background-image: url('../../Img/img1.jpg');
=======
    /* background-image: url('../../Img/img1.jpg'); */
    background-color: black;
>>>>>>> 6164a050c836dc43e7f76d4d26bcb3bb805e1d53
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
}
.Title1 {
    
    margin: auto;
    padding: 0;
    margin-bottom: 80px;
}

.Title2 {
    
    margin: auto;
    padding: 0;
    margin-bottom: 10px;
}
.Title3 {
    
  
    padding: 0;
    margin-bottom: 100px;
}
.MainContainer {
    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  
}
.Cell {
    
  
    
}
<<<<<<< HEAD
.Photo {
    
    height: 120px;
    width: 120px;
    background-color: silver;
    margin-top: 50%;
    border-radius: 50% 50% 50% 50%;
    opacity: 1;
   
    
   
}
=======

>>>>>>> 6164a050c836dc43e7f76d4d26bcb3bb805e1d53
.Text {
   
    width: 340px;
    margin-bottom: 80px;
    border: 1px solid white; 
    padding: 15px 15px 15px 15px;
    background-color: black;
}
<<<<<<< HEAD
.notactive {
    opacity: 0;
}
.active{
    animation-name: animated;
    animation-duration: 2s;
    animation-iteration-count: 2;
    position:relative;
}
    @keyframes animated {
        0%   {left:-150px; top:0px; opacity:0;}
    
        100% {left:0px; top:0px; opacity:1;}
    }
=======
>>>>>>> 6164a050c836dc43e7f76d4d26bcb3bb805e1d53
