.FooterSection{
    position: fixed;
    width:100%;
    margin-bottom: 0;
    bottom:0;
}

.FooterContainer {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    bottom:0;
    background-color:grey;
    height:60px;
    width:100%;
    z-index:1000;
    text-align: center;
    background: linear-gradient(to top,
    #131313 0%,#1c1c1c 9%,#111111 40%,
    #2c2c2c 69%,#474747 87%,#666666 96%,
    #666666 96%,#666666 97%,#666666 98%,
    #595959 100%,#4c4c4c 100%);

}
.Option {
    color: silver;
    width: 15%;
    height: 60%;
    background: linear-gradient(to bottom,
    #131313 0%,#1c1c1c 9%,#111111 40%,
    #2c2c2c 69%,#474747 87%,#666666 96%,
    #666666 96%,#666666 97%,#666666 98%,
    #595959 100%,#4c4c4c 100%);
    border: outset 4px silver;
    padding-top: 5px;
    box-sizing: border-box;
    
}
.Option:hover {
  
    border: inset 4px silver;
    background: black;
    
}
.Option:active {
  
    border: inset 4px silver;
    background: black;
    
}
.FlamesBottom {
    background-color: darkred;
    height: 80px;
    width: 100%;
    display: block;
}
@keyframes show {
       
    0% {left:0px; top:-300px; opacity:1;}
   
    60% {left:0px; top:-30px; opacity:1;}
   
    100%   {left:0px; top:0px; opacity:1;}
}

@keyframes hidden {
    0%   {left:0px; top:0px; opacity:1;}
   
   
    60% {left:0px; top:-30px; opacity:1;}
    100% {left:0px; top:-300px; opacity:1;}
}