.FooterContainer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    bottom:0;
    background-color:grey;
    height:60px;
    width:100%;
    z-index:1000;
    text-align: center;
    background: linear-gradient(to top,
    #131313 0%,#1c1c1c 9%,#111111 40%,
    #2c2c2c 69%,#474747 87%,#666666 96%,
    #666666 96%,#666666 97%,#666666 98%,
    #595959 100%,#4c4c4c 100%);

}
.Option {
    color: silver;
    width: 15%;
    height: 60%;
    background-color: darkgray;
    border: inset 3px silver;
    padding-top: 5px;
    box-sizing: border-box;
    
}