.FooterSection{
    position: fixed;
    width:100%;
    margin-bottom: 0;
    bottom:0;
}

.FooterContainer {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    bottom:0;
    background-color:grey;
    height:60px;
    width:100%;
    z-index:1000;
    text-align: center;
    background: -webkit-linear-gradient(270deg, rgba(255,187,15,1) 0%, rgba(133,66,11,1) 27%,
    rgba(0,0,0,1) 58%, rgba(0,0,0,1) 100%);

}
.Option {
    color: silver;
    width: 15%;
    height: 60%;

    background: -webkit-linear-gradient(90deg, rgba(255,187,15,1) 0%, rgba(133,66,11,1) 27%,
    rgba(0,0,0,1) 58%, rgba(0,0,0,1) 100%);
    border: outset 4px silver;
    padding-top: 5px;
    box-sizing: border-box;
    
}
.Option:hover {
  
    border: inset 4px silver;
    background: black;
    
}
.Option:active {
  
    border: inset 4px silver;
    background: black;
    
}
.FlamesBottom {
    background-image: url('http://malek.ovh/rwc/resources/Img/flamesbottom.jpg');
    height: 40px;
    width: 100%;
    opacity: 0.7;
    display: block;
}
@keyframes show {
       
    0% {left:0px; top:-300px; opacity:1;}
   
    60% {left:0px; top:-30px; opacity:1;}
   
    100%   {left:0px; top:0px; opacity:1;}
}

@keyframes hidden {
    0%   {left:0px; top:0px; opacity:1;}
   
   
    60% {left:0px; top:-30px; opacity:1;}
    100% {left:0px; top:-300px; opacity:1;}
}