.hidden {
    animation-name: hidden; 
    animation-duration: 2s;
    animation-iteration-count: 1;
    position:relative;
    top: -300px; 
}
    @keyframes hidden {
        0%   {left:0px; top:0px; opacity:1;}
       
        20% {left:0px; top:-10px; opacity:1;}
        60% {left:0px; top:-30px; opacity:1;}
        100% {left:0px; top:-300px; opacity:1;}
    }

.TopBar {
    height:140px;
    width: 100%;
    background-color: gray;
}