.Photo {
    
    height: 250px;
    width: 250px;
    position:relative;
    margin: 50% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: 0px 1px 30px 1px rgba(255,255,255,1);box-shadow: 0px 1px 30px 1px rgba(255,255,255,1);
    border-radius: 50% 50% 50% 50%;
    opacity: 1;
   
    
   
}
.notactive {
    position:relative;
    animation-duration: 2s;
    animation-iteration-count: 1;
    opacity:0;
    

}


.notactive.left  {
    animation-name: animatedleftout;
    left: -500px;
    
    
}
.notactive.right {
    animation-name: animatedout;
    left: 500px;
   
}
.Photo.active{
    animation-name: animated;
    animation-duration: 2s;
    animation-iteration-count: 1;
    position:relative;
    left: 0;
   
    opacity:1;
    
}

.Photo.active.left{
    animation-name: animatedleft;
  
}

    @keyframes animated {
        0%   {left:500px; top:0px;opacity: 0;}
        100% {left:0px; top:0px;opacity: 1;}
    }
    @keyframes animatedleft {
        0%   {left:-500px; top:0px; opacity: 0;}
        100% {left:0px; top:0px; opacity: 1;}
    }
    @keyframes animatedout {
        0% {left:0px; top:0px; opacity: 1;}
        100%   {left:500px; top:0px; opacity: 0;}
    }
    @keyframes animatedleftout {
        0% {left:0px; top:0px; opacity: 1;}
        100%   {left:-500px; top:0px; opacity: 0;}
    
        
    }
    @media only screen and (max-width: 1120px) {
        .notactive  {
            left: 0px;
            margin: 10% auto;
        }
        .right {
             left: 0px;
        }
        .Photo.active{
            
            margin: 10% auto;
            
        }
        .Photo.active.left{
            
            margin: 10% auto;
            
        }
    }